In [1]:
import pandas as pd

music_data = { "albums": [ "Echoes of Eternity", "Timeless Horizons", "Urban Symphony", "Neon Dreams",  "Stellar Voyage","Aurora Tales"],"release": [ 2022, 2022, 2018, 2020, 2022, 2023 ], "best_music": [   "Eternal Whisper",   "Waves of Time",   "City Lights",   "Electric Glow",   "Cosmic Drift",   "Northern Skies" ]
}

df=pd.DataFrame(music_data)
df

               albums  release       best_music
0  Echoes of Eternity     2022  Eternal Whisper
1   Timeless Horizons     2022    Waves of Time
2      Urban Symphony     2018      City Lights
3         Neon Dreams     2020    Electric Glow
4      Stellar Voyage     2022     Cosmic Drift
5        Aurora Tales     2023   Northern Skies

In [2]:
df["release"].unique() # passa todos os valores unicos da coluna "release"
df

               albums  release       best_music
0  Echoes of Eternity     2022  Eternal Whisper
1   Timeless Horizons     2022    Waves of Time
2      Urban Symphony     2018      City Lights
3         Neon Dreams     2020    Electric Glow
4      Stellar Voyage     2022     Cosmic Drift
5        Aurora Tales     2023   Northern Skies

In [3]:
type(df.iloc[2,1]) #retorna tipo da entrada

numpy.int64

In [4]:
c=df["albums"] #retorna em formato de serie
c

0    Echoes of Eternity
1     Timeless Horizons
2        Urban Symphony
3           Neon Dreams
4        Stellar Voyage
5          Aurora Tales
Name: albums, dtype: object

In [5]:
df["release"]>2018 # apresenta true e false

0     True
1     True
2    False
3     True
4     True
5     True
Name: release, dtype: bool

In [6]:
df1=df[df["release"]>2020] # passa todas as linhas que satisfazem condição
df1

               albums  release       best_music
0  Echoes of Eternity     2022  Eternal Whisper
1   Timeless Horizons     2022    Waves of Time
4      Stellar Voyage     2022     Cosmic Drift
5        Aurora Tales     2023   Northern Skies

In [7]:
df1.to_csv("DataFrame_df1") #guarda em csv (posso guardar noutros formatos).