In [4]:
import pandas as pd

df=pd.read_csv("file1") #permite importar excel,csv,etc...

df.head() #Apresenta primeiras 5 linhas do dataFrame

  Localização  Preço  Area Ar condicionado  Media Vizinho
0        Cête    333    22               n             21
1        Cête    333    22               n             25
2        Cête    333    22               n             26
3        Cête    333    22               n             27
4        Cête    333    22               n             28

In [5]:
songs={"Album":["Thriller","Back in Black","The dark Side","Bodyguard","Bat"],"Release":[1990,1980,1970,1980,2000],"Length":["12:07","12:60","14:07","09:07","4:35",]}

df=pd.DataFrame(songs) #Criar dataFrame a partir de dicionário 
df.head()

           Album  Release Length
0       Thriller     1990  12:07
1  Back in Black     1980  12:60
2  The dark Side     1970  14:07
3      Bodyguard     1980  09:07
4            Bat     2000   4:35

In [6]:
x=df[["Release"]] #cria novo dataframe com coluna Release do anterior
x.head()

   Release
0     1990
1     1980
2     1970
3     1980
4     2000

In [7]:
x=df[["Album","Length"]] #cria novo dataframe com colunas do anterior
x

           Album Length
0       Thriller  12:07
1  Back in Black  12:60
2  The dark Side  14:07
3      Bodyguard  09:07
4            Bat   4:35

In [8]:
df.iloc[0,2] #Devolve valor na posiçao 0,2 do dataframe

'12:07'

In [9]:
x.loc[3,"Length"] #Devolve valor na posiçao 3,Length do dataframe

'09:07'

In [10]:
df_New=df.copy() #como são listas dicionarios, se fizer df_New=df referencia o mesmo espaço da memoria, por isso faz-se .copy()
df_New.index=["z","x","t","v","w"] #Muda index das linhas do dataframe
df_New.head()

           Album  Release Length
z       Thriller     1990  12:07
x  Back in Black     1980  12:60
t  The dark Side     1970  14:07
v      Bodyguard     1980  09:07
w            Bat     2000   4:35

In [14]:
linha =df_New.loc["z"] #Preserva o header
linha

Album      Thriller
Release        1990
Length        12:07
Name: z, dtype: object

In [12]:
df2=df.iloc[0:2,0:1] #cria dataframe com linhas 0a2 e colunas 0a1
df2.head()

           Album
0       Thriller
1  Back in Black

In [13]:
df2=df_New.loc["z":"t","Album":"Release"] #cria dataframe com linhas zat e colunas Album/Releas
df2.head()

           Album  Release
z       Thriller     1990
x  Back in Black     1980
t  The dark Side     1970