In [155]:
import pandas as pd
import numpy as np

URL="https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"

tables=pd.read_html(URL) # para receber tabelas da pagina web

In [156]:
tables

[      0     1     2
 0   Aug   SEP   Oct
 1   NaN    02   NaN
 2  2022  2023  2024,
                                                    0
 0  Largest economies in the world by GDP (nominal...,
                                                    0  \
 0  > $20 trillion $10–20 trillion $5–10 trillion ...

                                                    1  \
 0  $750 billion – $1 trillion $500–750 billion $2...

                                                    2
 0  $50–100 billion $25–50 billion $5–25 billion <...  ,
     Country/Territory UN region IMF[1][13]            World Bank[14]  \
     Country/Territory UN region   Estimate       Year       Estimate
 0               World         —  105568776       2023      100562011
 1       United States  Americas   26854599       2023       25462700
 2               China      Asia   19373586  [n 1]2023       17963171
 3               Japan      Asia    4409738       2023        4231141
 4             Germany    Europe    4308854       2023        4072192
 ..                ...       ...        ...        ...            ...
 209          Anguilla  Americas          —          —              —
 210          Kiribati   Oceania        248       2023            223
 211             Nauru   Oceania        151       2023            151
 212        Montserrat  Americas          —          —              —
 213            Tuvalu   Oceania         65       2023             60

                United Nations[15]
           Year           Estimate       Year
 0         2022           96698005       2021
 1         2022           23315081       2021
 2    [n 3]2022           17734131  [n 1]2021
 3         2022            4940878       2021
 4         2022            4259935       2021
 ..         ...                ...        ...
 209          —                303       2021
 210       2022                227       2021
 211       2022                155       2021
 212          —                 72       2021
 213       2022                 60       2021

 [214 rows x 8 columns],
          vteLists of countries by financial rankings  \
 0                                              Trade
 1                                         Investment
 2                                              Funds
 3                                    Budget and debt
 4                                   Income and taxes
 5                                         Bank rates
 6                                           Currency
 7                                              Other
 8  Lists of countries by GDP rankings List of int...

        vteLists of countries by financial rankings.1
 0  Account balance % of GDP Exports by product me...
 1                   FDI received past FDI abroad GFI
 2  Forex reserves Forex reserves (ex. gold) Gold ...
 3  Government budget PPP % of GDP per capita Cred...
 4  Tax rates Inheritance tax Tax revenue Wage ave...
 5  Central bank interest rate Commercial bank pri...
 6               Exchange rates to US$ Inflation rate
 7  Financial Development Index Average annual lab...
 8  Lists of countries by GDP rankings List of int...  ,
                vteLists of countries by GDP rankings  \
 0                                            Nominal
 1                      Purchasing power parity (PPP)
 2                                        Growth rate
 3                        Gross national income (GNI)
 4                                Countries by region
 5                              Subnational divisions
 6  Lists of countries by financial rankings List ...

              vteLists of countries by GDP rankings.1
 0  Per capita Past and projected per capita Secto...
 1  Per capita Past per capita Past and projected ...
 2  African countries Asian states European Union ...
 3                  PPP per capita Nominal per capita
 4  Africa PPP nominal Commonwealth of Nations PPP...
 5  Albania Argentina Australia Austria Baltic Sta...
 6  Lists of countries by financial rankings List ...  ,
               vteEconomic classification of countries  \
 0   Developed country Developing country Least dev...
 1                                   Three-World Model
 2                        Gross domestic product (GDP)
 3                                             Nominal
 4                       Purchasing power parity (PPP)
 5                         Gross national income (GNI)
 6                                               Wages
 7                                              Wealth
 8                             Other national accounts
 9                                   Human development
 10                                     Digital divide
 11       Net international investment position (NIIP)
 12                    Economics portal • World portal

             vteEconomic classification of countries.1
 0   Developed country Developing country Least dev...
 1   First World Second World Third World Fourth World
 2   Nominal By country past and projected per capi...
 3   By country past and projected per capita per c...
 4   By country future estimates per capita per cap...
 5   (Nominal, Atlas method) per capita (PPP) per c...
 6   Average wage Europe Employee compensation (per...
 7   Wealth per adult Europe Financial assets per c...
 8   Gross National Happiness Net material product ...
 9   Human Development Index by country inequality-...
 10  ICT Development Index Number of broadband Inte...
 11        Per capita (creditors) Per capita (debtors)
 12                    Economics portal • World portal  ,
                                0  \
 0                        Nominal
 1  Purchasing power parity (PPP)

                                                    1
 0  By country past and projected per capita per c...
 1  By country future estimates per capita per cap...  ]

In [157]:
df=tables[3]
df

    Country/Territory UN region IMF[1][13]            World Bank[14]  \
    Country/Territory UN region   Estimate       Year       Estimate
0               World         —  105568776       2023      100562011
1       United States  Americas   26854599       2023       25462700
2               China      Asia   19373586  [n 1]2023       17963171
3               Japan      Asia    4409738       2023        4231141
4             Germany    Europe    4308854       2023        4072192
..                ...       ...        ...        ...            ...
209          Anguilla  Americas          —          —              —
210          Kiribati   Oceania        248       2023            223
211             Nauru   Oceania        151       2023            151
212        Montserrat  Americas          —          —              —
213            Tuvalu   Oceania         65       2023             60

               United Nations[15]
          Year           Estimate       Year
0         2022           96698005       2021
1         2022           23315081       2021
2    [n 3]2022           17734131  [n 1]2021
3         2022            4940878       2021
4         2022            4259935       2021
..         ...                ...        ...
209          —                303       2021
210       2022                227       2021
211       2022                155       2021
212          —                 72       2021
213       2022                 60       2021

[214 rows x 8 columns]

In [158]:
df.columns = range(df.shape[1])

In [159]:
df1=df[[1,2]]
df1

            1          2
0           —  105568776
1    Americas   26854599
2        Asia   19373586
3        Asia    4409738
4      Europe    4308854
..        ...        ...
209  Americas          —
210   Oceania        248
211   Oceania        151
212  Americas          —
213   Oceania         65

[214 rows x 2 columns]

In [160]:
df2=df1[1:11]
df2

           1         2
1   Americas  26854599
2       Asia  19373586
3       Asia   4409738
4     Europe   4308854
5       Asia   3736882
6     Europe   3158938
7     Europe   2923489
8     Europe   2169745
9   Americas   2089672
10  Americas   2081235

In [161]:
df2.columns=["Country","GDP (Millions USD)"]
df2

     Country GDP (Millions USD)
1   Americas           26854599
2       Asia           19373586
3       Asia            4409738
4     Europe            4308854
5       Asia            3736882
6     Europe            3158938
7     Europe            2923489
8     Europe            2169745
9   Americas            2089672
10  Americas            2081235

In [162]:
df2['GDP (Millions USD)'] = df2['GDP (Millions USD)'].astype(int)

C:\Users\Ricardo\AppData\Local\Temp\ipykernel_8428\4065055228.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['GDP (Millions USD)'] = df2['GDP (Millions USD)'].astype(int)

In [163]:
type(df2.iloc[1,1])

numpy.int64

In [164]:
df2[["GDP (Millions USD)"]]=df2[["GDP (Millions USD)"]]/1000
df2

C:\Users\Ricardo\AppData\Local\Temp\ipykernel_8428\2626114538.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[["GDP (Millions USD)"]]=df2[["GDP (Millions USD)"]]/1000

     Country  GDP (Millions USD)
1   Americas           26854.599
2       Asia           19373.586
3       Asia            4409.738
4     Europe            4308.854
5       Asia            3736.882
6     Europe            3158.938
7     Europe            2923.489
8     Europe            2169.745
9   Americas            2089.672
10  Americas            2081.235

In [165]:
df2[["GDP (Millions USD)"]]=np.round(df2[["GDP (Millions USD)"]],2)

C:\Users\Ricardo\AppData\Local\Temp\ipykernel_8428\882544816.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[["GDP (Millions USD)"]]=np.round(df2[["GDP (Millions USD)"]],2)

In [166]:
df2=df2.rename(columns={"GDP (Millions USD)" : "GDP (Billions USD)"})
df2

     Country  GDP (Billions USD)
1   Americas            26854.60
2       Asia            19373.59
3       Asia             4409.74
4     Europe             4308.85
5       Asia             3736.88
6     Europe             3158.94
7     Europe             2923.49
8     Europe             2169.74
9   Americas             2089.67
10  Americas             2081.24

In [167]:
df2.to_csv("Largest_Economies.txt")

In [168]:
URL="https://en.wikipedia.org/wiki/List_of_public_corporations_by_market_capitalization"

MC=pd.read_html(URL,skiprows=0)

In [169]:
MC

[               Company Country When first passed                    \
                Company Country       $1 trillion       $2 trillion
 0                Apple     NaN     2 August 2018    19 August 2020
 1               Nvidia     NaN       30 May 2023  23 February 2024
 2            Microsoft     NaN     25 April 2019      22 June 2021
 3         Saudi Aramco     NaN  11 December 2019  12 December 2019
 4               Amazon     NaN  4 September 2018      26 June 2024
 5             Alphabet     NaN   16 January 2020   8 November 2021
 6                 Meta     NaN      28 June 2021                 —
 7                Tesla     NaN   25 October 2021                 —
 8           PetroChina     NaN   5 November 2007                 —
 9             Broadcom     NaN  13 December 2024                 —
 10                TSMC     NaN   17 October 2024                 —
 11  Berkshire Hathaway     NaN    28 August 2024                 —

                     Record value date Record value (in billions USD)  \
         $3 trillion Record value date                        Nominal
 0    3 January 2022  26 December 2024                           3940
 1       5 June 2024   7 November 2024                           3650
 2   24 January 2024       5 July 2024                           3475
 3                 —       10 May 2022                           2463
 4                 —   6 December 2024                           2370
 5                 —  11 December 2024                           2360
 6                 —   6 December 2024                           1600
 7                 —  17 December 2024                           1540
 8                 —   5 November 2007                           1200
 9                 —  16 December 2024                           1200
 10                —   17 October 2024                           1067
 11                —    28 August 2024                           1000

                                       Notes
    Inflation- adjusted[5]             Notes
 0                    3940      [6][7][8][9]
 1                    3650  [10][11][12][13]
 2                    3475  [14][15][16][17]
 3                    2564      [18][19][20]
 4                    2370      [21][22][23]
 5                    2360      [24][25][26]
 6                    1600  [note 1][27][28]
 7                    1540          [29][30]
 8                    1699          [note 2]
 9                    1200          [34][35]
 10                   1067      [note 3][37]
 11                   1000              [38]  ,
    Rank  First quarter                 First quarter.1  Second quarter  \
 0     1            NaN         Microsoft 3,126,000[39]             NaN
 1     2            NaN             Apple 2,648,000[40]             NaN
 2     3            NaN            Nvidia 2,259,000[41]             NaN
 3     4            NaN          Alphabet 1,893,000[42]             NaN
 4     5            NaN            Amazon 1,874,000[43]             NaN
 5     6            NaN              Meta 1,238,000[44]             NaN
 6     7            NaN  Berkshire Hathaway 912,130[45]             NaN
 7     8            NaN          Eli Lilly  739,660[48]             NaN
 8     9            NaN                TSMC 705,690[46]             NaN
 9    10            NaN            Broadcom 614,220[49]             NaN

                  Second quarter.1  Third quarter  \
 0         Microsoft 3,322,000[39]            NaN
 1             Apple 3,230,000[40]            NaN
 2            Nvidia 3,182,000[41]            NaN
 3          Alphabet 2,267,000[42]            NaN
 4            Amazon 2,011,000[43]            NaN
 5              Meta 1,279,000[44]            NaN
 6                TSMC 901,390[46]            NaN
 7  Berkshire Hathaway 879,670[45]            NaN
 8          Eli Lilly  815,210[48]            NaN
 9            Broadcom 747,360[49]            NaN

                   Third quarter.1  Fourth quarter  \
 0             Apple 3,543,000[40]             NaN
 1         Microsoft 3,198,000[39]             NaN
 2            Nvidia 2,979,000[41]             NaN
 3          Alphabet 2,058,000[42]             NaN
 4            Amazon 1,956,000[43]             NaN
 5              Meta 1,448,000[44]             NaN
 6  Berkshire Hathaway 993,020[45]             NaN
 7                TSMC 900,670[46]             NaN
 8               Tesla 835,810[47]             NaN
 9            Broadcom 805,670[49]             NaN

                  Fourth quarter.1
 0             Apple 3,785,000[40]
 1            Nvidia 3,289,000[41]
 2         Microsoft 3,134,000[39]
 3          Alphabet 2,331,000[42]
 4            Amazon 2,307,000[43]
 5              Meta 1,478,000[44]
 6             Tesla 1,296,000[47]
 7          Broadcom 1,087,000[49]
 8              TSMC 1,024,000[46]
 9  Berkshire Hathaway 978,890[45]  ,
    Rank  First quarter                 First quarter.1  Second quarter  \
 0     1            NaN             Apple 2,609,000[40]             NaN
 1     2            NaN         Microsoft 2,146,000[39]             NaN
 2     3            NaN          Alphabet 1,332,000[42]             NaN
 3     4            NaN            Amazon 1,058,000[43]             NaN
 4     5            NaN              Nvidia 686,090[41]             NaN
 5     6            NaN  Berkshire Hathaway 677,770[45]             NaN
 6     7            NaN               Tesla 656,420[47]             NaN
 7     8            NaN                Meta 549,480[50]             NaN
 8     9            NaN                TSMC 482,410[46]             NaN
 9    10            NaN                Visa 473,870[51]             NaN

                  Second quarter.1  Third quarter  \
 0             Apple 3,050,000[40]            NaN
 1         Microsoft 2,532,000[39]            NaN
 2          Alphabet 1,530,000[42]            NaN
 3            Amazon 1,337,000[43]            NaN
 4            Nvidia 1,044,000[41]            NaN
 5               Tesla 829,670[47]            NaN
 6  Berkshire Hathaway 745,010[45]            NaN
 7                Meta 735,450[50]            NaN
 8                TSMC 523,410[46]            NaN
 9                Visa 497,370[51]            NaN

                   Third quarter.1  Fourth quarter  \
 0             Apple 2,677,000[40]             NaN
 1         Microsoft 2,346,000[39]             NaN
 2          Alphabet 1,662,000[42]             NaN
 3            Amazon 1,312,000[43]             NaN
 4            Nvidia 1,074,000[41]             NaN
 5               Tesla 794,200[47]             NaN
 6                Meta 772,490[44]             NaN
 7  Berkshire Hathaway 769,260[45]             NaN
 8          Eli Lilly  509,890[48]             NaN
 9                Visa 480,990[51]             NaN

                  Fourth quarter.1
 0             Apple 2,994,000[40]
 1         Microsoft 2,795,000[39]
 2          Alphabet 1,764,000[42]
 3            Amazon 1,570,000[43]
 4            Nvidia 1,223,000[41]
 5                Meta 909,000[44]
 6               Tesla 789,930[47]
 7  Berkshire Hathaway 783,550[45]
 8          Eli Lilly  553,370[48]
 9                TSMC 539,390[46]  ,
    Rank  First quarter                 First quarter.1  Second quarter  \
 0     1            NaN             Apple 2,850,000[40]             NaN
 1     2            NaN         Microsoft 2,311,000[39]             NaN
 2     3            NaN          Alphabet 1,846,000[42]             NaN
 3     4            NaN            Amazon 1,659,000[43]             NaN
 4     5            NaN             Tesla 1,114,000[47]             NaN
 5     6            NaN  Berkshire Hathaway 779,150[45]             NaN
 6     7            NaN              Nvidia 684,880[41]             NaN
 7     8            NaN                Meta 605,250[50]             NaN
 8     9            NaN                TSMC 540,670[46]             NaN
 9    10            NaN        UnitedHealth 479,830[52]             NaN

                  Second quarter.1  Third quarter  \
 0             Apple 2,212,000[40]            NaN
 1         Microsoft 1,920,000[39]            NaN
 2          Alphabet 1,435,000[42]            NaN
 3            Amazon 1,080,000[43]            NaN
 4               Tesla 697,660[47]            NaN
 5  Berkshire Hathaway 602,450[45]            NaN
 6        UnitedHealth 481,870[52]            NaN
 7   Johnson & Johnson 467,090[53]            NaN
 8             Tencent 445,990[55]            NaN
 9                Meta 436,390[50]            NaN

                   Third quarter.1  Fourth quarter  \
 0             Apple 2,221,000[40]             NaN
 1         Microsoft 1,737,000[39]             NaN
 2          Alphabet 1,254,000[42]             NaN
 3            Amazon 1,151,000[43]             NaN
 4               Tesla 831,150[47]             NaN
 5  Berkshire Hathaway 596,410[45]             NaN
 6        UnitedHealth 472,410[52]             NaN
 7   Johnson & Johnson 429,500[53]             NaN
 8                Visa 374,380[51]             NaN
 9                Meta 364,650[56]             NaN

                  Fourth quarter.1
 0             Apple 2,066,000[40]
 1         Microsoft 1,787,000[39]
 2          Alphabet 1,145,000[42]
 3              Amazon 856,940[43]
 4  Berkshire Hathaway 681,770[45]
 5        UnitedHealth 495,370[52]
 6   Johnson & Johnson 461,840[53]
 7          ExxonMobil 454,240[54]
 8                Visa 439,950[51]
 9             Tencent 405,090[55]  ,
    Rank  First quarter                 First quarter.1  Second quarter  \
 0     1            NaN             Apple 2,050,000[40]             NaN
 1     2            NaN         Microsoft 1,778,000[39]             NaN
 2     3            NaN            Amazon 1,558,000[43]             NaN
 3     4            NaN          Alphabet 1,395,000[42]             NaN
 4     5            NaN                Meta 838,720[50]             NaN
 5     6            NaN             Tencent 766,970[55]             NaN
 6     7            NaN               Tesla 641,110[47]             NaN
 7     8            NaN       Alibaba Group 615,010[57]             NaN
 8     9            NaN                TSMC 613,410[46]             NaN
 9    10            NaN  Berkshire Hathaway 590,050[45]             NaN

                   Second quarter.1  Third quarter  \
 0             Apple  2,286,000[40]            NaN
 1         Microsoft  2,040,000[39]            NaN
 2            Amazon  1,735,000[43]            NaN
 3          Alphabet  1,680,000[42]            NaN
 4                Meta  985,920[50]            NaN
 5             Tencent  721,460[55]            NaN
 6               Tesla  654,780[47]            NaN
 7  Berkshire Hathaway  637,280[45]            NaN
 8                TSMC  623,160[46]            NaN
 9       Alibaba Group  615,140[57]            NaN

                    Third quarter.1  Fourth quarter  \
 0             Apple  2,339,000[40]             NaN
 1         Microsoft  2,119,000[39]             NaN
 2          Alphabet  1,777,000[42]             NaN
 3            Amazon  1,664,000[43]             NaN
 4                Meta  956,890[50]             NaN
 5               Tesla  776,850[47]             NaN
 6  Berkshire Hathaway  619,950[45]             NaN
 7                TSMC  579,030[46]             NaN
 8             Tencent  574,460[55]             NaN
 9               Nvidia 517,900[41]             NaN

                   Fourth quarter.1
 0             Apple  2,913,000[40]
 1         Microsoft  2,525,000[39]
 2          Alphabet  1,922,000[42]
 3            Amazon  1,691,000[43]
 4             Tesla  1,061,000[47]
 5                Meta  935,640[50]
 6               Nvidia 732,920[41]
 7  Berkshire Hathaway  668,630[45]
 8                TSMC  623,930[46]
 9             Tencent  559,900[55]  ,
    Rank  First quarter                 First quarter.1  Second quarter  \
 0     1            NaN         Microsoft 1,200,000[39]             NaN
 1     2            NaN             Apple 1,113,000[40]             NaN
 2     3            NaN              Amazon 970,590[43]             NaN
 3     4            NaN            Alphabet 799,180[42]             NaN
 4     5            NaN       Alibaba Group 521,740[57]             NaN
 5     6            NaN            Facebook 475,460[50]             NaN
 6     7            NaN             Tencent 471,660[55]             NaN
 7     8            NaN  Berkshire Hathaway 440,830[45]             NaN
 8     9            NaN                Visa 357,020[58]             NaN
 9    10            NaN   Johnson & Johnson 345,700[53]             NaN

                  Second quarter.1  Third quarter  \
 0             Apple 1,576,000[40]            NaN
 1         Microsoft 1,551,000[39]            NaN
 2            Amazon 1,432,590[43]            NaN
 3            Alphabet 979,700[42]            NaN
 4            Facebook 675,690[50]            NaN
 5             Tencent 620,920[55]            NaN
 6       Alibaba Group 579,740[57]            NaN
 7  Berkshire Hathaway 432,570[45]            NaN
 8                Visa 412,710[58]            NaN
 9   Johnson & Johnson 370,590[53]            NaN

                   Third quarter.1  Fourth quarter  \
 0             Apple 1,981,000[40]             NaN
 1         Microsoft 1,592,000[39]             NaN
 2            Amazon 1,577,000[43]             NaN
 3            Alphabet 999,570[42]             NaN
 4       Alibaba Group 795,400[57]             NaN
 5            Facebook 746,100[50]             NaN
 6             Tencent 646,790[55]             NaN
 7  Berkshire Hathaway 509,470[45]             NaN
 8                Visa 425,510[58]             NaN
 9                TSMC 420,440[46]             NaN

                  Fourth quarter.1
 0             Apple 2,254,000[40]
 1         Microsoft 1,682,000[39]
 2            Amazon 1,634,000[43]
 3          Alphabet 1,185,000[42]
 4            Facebook 776,590[50]
 5             Tencent 683,470[55]
 6               Tesla 668,080[47]
 7       Alibaba Group 628,650[57]
 8                TSMC 565,280[46]
 9  Berkshire Hathaway 544,780[45]  ,
    Rank  First quarter                 First quarter.1  Second quarter  \
 0     1            NaN           Microsoft 904,860[39]             NaN
 1     2            NaN               Apple 835,670[40]             NaN
 2     3            NaN              Amazon 874,710[43]             NaN
 3     4            NaN            Alphabet 818,160[42]             NaN
 4     5            NaN  Berkshire Hathaway 493,750[45]             NaN
 5     6            NaN            Facebook 475,730[50]             NaN
 6     7            NaN       Alibaba Group 472,940[57]             NaN
 7     8            NaN             Tencent 440,980[55]             NaN
 8     9            NaN   Johnson & Johnson 372,230[53]             NaN
 9    10            NaN                Visa 353,710[58]             NaN

                  Second quarter.1  Third quarter  \
 0         Microsoft 1,028,000[39]            NaN
 1              Amazon 928,540[43]            NaN
 2               Apple 911,240[40]            NaN
 3            Alphabet 751,170[42]            NaN
 4            Facebook 551,490[50]            NaN
 5  Berkshire Hathaway 521,100[45]            NaN
 6       Alibaba Group 439,150[57]            NaN
 7             Tencent 432,080[55]            NaN
 8                Visa 379,271[58]            NaN
 9   Johnson & Johnson 370,300[53]            NaN

                   Third quarter.1  Fourth quarter  \
 0         Microsoft 1,062,000[39]             NaN
 1             Apple 1,012,000[40]             NaN
 2              Amazon 858,680[43]             NaN
 3            Alphabet 838,020[42]             NaN
 4  Berkshire Hathaway 508,530[45]             NaN
 5            Facebook 508,050[50]             NaN
 6       Alibaba Group 435,400[57]             NaN
 7             Tencent 398,840[55]             NaN
 8                Visa 385,370[58]             NaN
 9      JPMorgan Chase 376,310[59]             NaN

                  Fourth quarter.1
 0             Apple 1,305,000[40]
 1         Microsoft 1,203,000[39]
 2            Alphabet 922,130[42]
 3              Amazon 916,150[43]
 4            Facebook 585,320[50]
 5       Alibaba Group 569,010[57]
 6  Berkshire Hathaway 553,530[45]
 7             Tencent 461,370[55]
 8      JPMorgan Chase 437,230[59]
 9                Visa 416,790[58]  ,
    Rank  First quarter                 First quarter.1  Second quarter  \
 0     1            NaN                   Apple 851,317             NaN
 1     2            NaN                Alphabet 715,404             NaN
 2     3            NaN           Microsoft 702,760[39]             NaN
 3     4            NaN              Amazon 700,672[43]             NaN
 4     5            NaN             Tencent 507,990[55]             NaN
 5     6            NaN  Berkshire Hathaway 492,019[45]             NaN
 6     7            NaN       Alibaba Group 470,930[57]             NaN
 7     8            NaN            Facebook 464,189[50]             NaN
 8     9            NaN      JPMorgan Chase 377,410[59]             NaN
 9    10            NaN   Johnson & Johnson 343,780[53]             NaN

                  Second quarter.1  Third quarter  \
 0               Apple 909,840[40]            NaN
 1              Amazon 824,790[43]            NaN
 2            Alphabet 774,840[42]            NaN
 3           Microsoft 757,640[39]            NaN
 4            Facebook 562,480[50]            NaN
 5             Tencent 478,580[55]            NaN
 6       Alibaba Group 476,040[57]            NaN
 7  Berkshire Hathaway 463,980[45]            NaN
 8      JPMorgan Chase 354,780[59]            NaN
 9         ExxonMobil  350,270[61]            NaN

                   Third quarter.1  Fourth quarter  \
 0             Apple 1,091,000[40]             NaN
 1              Amazon 976,650[43]             NaN
 2           Microsoft 877,400[39]             NaN
 3            Alphabet 839,740[60]             NaN
 4  Berkshire Hathaway 523,520[45]             NaN
 5            Facebook 473,850[50]             NaN
 6       Alibaba Group 423,600[57]             NaN
 7             Tencent 388,080[55]             NaN
 8      JPMorgan Chase 379,440[59]             NaN
 9   Johnson & Johnson 370,650[53]             NaN

                  Fourth quarter.1
 0           Microsoft 780,520[39]
 1               Apple 748,680[40]
 2              Amazon 735,900[43]
 3            Alphabet 728,360[60]
 4  Berkshire Hathaway 499,590[45]
 5            Facebook 375,890[50]
 6             Tencent 375,110[55]
 7       Alibaba Group 355,130[57]
 8   Johnson & Johnson 346,110[53]
 9      JPMorgan Chase 324,660[59]  ,
    Rank  First quarter[62][note 4]     First quarter[62][note 4].1  \
 0     1                        NaN                   Apple 753,718
 1     2                        NaN            Alphabet 573,570[42]
 2     3                        NaN               Microsoft 508,935
 3     4                        NaN                  Amazon 423,031
 4     5                        NaN  Berkshire Hathaway 410,880[45]
 5     6                        NaN             ExxonMobil  339,897
 6     7                        NaN       Johnson & Johnson 337,947
 7     8                        NaN                Facebook 334,552
 8     9                        NaN          JPMorgan Chase 313,761
 9    10                        NaN            Wells Fargo  278,516

    Second quarter[63][note 4]    Second quarter[63][note 4].1  \
 0                         NaN                   Apple 749,124
 1                         NaN            Alphabet 628,610[42]
 2                         NaN               Microsoft 528,778
 3                         NaN                  Amazon 466,471
 4                         NaN  Berkshire Hathaway 418,880[45]
 5                         NaN       Johnson & Johnson 357,310
 6                         NaN                Facebook 357,176

In [170]:
table=MC[0]
df=pd.DataFrame(table)
df

               Company Country When first passed                    \
               Company Country       $1 trillion       $2 trillion
0                Apple     NaN     2 August 2018    19 August 2020
1               Nvidia     NaN       30 May 2023  23 February 2024
2            Microsoft     NaN     25 April 2019      22 June 2021
3         Saudi Aramco     NaN  11 December 2019  12 December 2019
4               Amazon     NaN  4 September 2018      26 June 2024
5             Alphabet     NaN   16 January 2020   8 November 2021
6                 Meta     NaN      28 June 2021                 —
7                Tesla     NaN   25 October 2021                 —
8           PetroChina     NaN   5 November 2007                 —
9             Broadcom     NaN  13 December 2024                 —
10                TSMC     NaN   17 October 2024                 —
11  Berkshire Hathaway     NaN    28 August 2024                 —

                    Record value date Record value (in billions USD)  \
        $3 trillion Record value date                        Nominal
0    3 January 2022  26 December 2024                           3940
1       5 June 2024   7 November 2024                           3650
2   24 January 2024       5 July 2024                           3475
3                 —       10 May 2022                           2463
4                 —   6 December 2024                           2370
5                 —  11 December 2024                           2360
6                 —   6 December 2024                           1600
7                 —  17 December 2024                           1540
8                 —   5 November 2007                           1200
9                 —  16 December 2024                           1200
10                —   17 October 2024                           1067
11                —    28 August 2024                           1000

                                      Notes
   Inflation- adjusted[5]             Notes
0                    3940      [6][7][8][9]
1                    3650  [10][11][12][13]
2                    3475  [14][15][16][17]
3                    2564      [18][19][20]
4                    2370      [21][22][23]
5                    2360      [24][25][26]
6                    1600  [note 1][27][28]
7                    1540          [29][30]
8                    1699          [note 2]
9                    1200          [34][35]
10                   1067      [note 3][37]
11                   1000              [38]

In [171]:
df=df[["Company","When first passed"]]
df

               Company When first passed
               Company       $1 trillion       $2 trillion      $3 trillion
0                Apple     2 August 2018    19 August 2020   3 January 2022
1               Nvidia       30 May 2023  23 February 2024      5 June 2024
2            Microsoft     25 April 2019      22 June 2021  24 January 2024
3         Saudi Aramco  11 December 2019  12 December 2019                —
4               Amazon  4 September 2018      26 June 2024                —
5             Alphabet   16 January 2020   8 November 2021                —
6                 Meta      28 June 2021                 —                —
7                Tesla   25 October 2021                 —                —
8           PetroChina   5 November 2007                 —                —
9             Broadcom  13 December 2024                 —                —
10                TSMC   17 October 2024                 —                —
11  Berkshire Hathaway    28 August 2024                 —                —

In [172]:
df=df[0:3]
df

     Company When first passed
     Company       $1 trillion       $2 trillion      $3 trillion
0      Apple     2 August 2018    19 August 2020   3 January 2022
1     Nvidia       30 May 2023  23 February 2024      5 June 2024
2  Microsoft     25 April 2019      22 June 2021  24 January 2024

In [173]:
df.to_csv("Growth_biggest_conpanies.txt")