In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("anime_dataset.csv")

In [3]:
df.head(3)

,Anime_ID,Title,Genre,Episodes,Type,Studio,Source,Rating,Popularity,Members,Favorites,Airing_Start,Airing_End,Duration,Broadcast_Day,Producers,Licensors,Score,Rank,Synopsis
0,1,Teach under work,"Fantasy, Horror, Action",36,TV,J.C.Staff,Webtoon,7.67,4954,236999,39747,2018-12-12,2026-05-17,54,Monday,"TV Tokyo, Kodansha",Viz Media,5.42,13948,Order per far even something of never. Natural...
1,2,Phone star,"Romance, Action",58,ONA,Ufotable,Game,7.83,5484,450384,41331,2024-08-31,2027-02-25,50,Sunday,Kodansha,Viz Media,6.98,14869,Realize mean situation high sing. Seek could e...
2,3,Guy explain human everybody,"Drama, Comedy",2,ONA,Wit Studio,Game,6.67,3840,871129,9746,2015-08-13,2025-12-22,46,Saturday,"Bandai Namco, Aniplex","Funimation, Crunchyroll",7.85,18212,Simple attack radio mission enjoy know. Find e...

In [4]:
df=df.loc[: 20, :]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Anime_ID       21 non-null     int64
 1   Title          21 non-null     object
 2   Genre          21 non-null     object
 3   Episodes       21 non-null     int64
 4   Type           21 non-null     object
 5   Studio         21 non-null     object
 6   Source         21 non-null     object
 7   Rating         21 non-null     float64
 8   Popularity     21 non-null     int64
 9   Members        21 non-null     int64
 10  Favorites      21 non-null     int64
 11  Airing_Start   21 non-null     object
 12  Airing_End     21 non-null     object
 13  Duration       21 non-null     int64
 14  Broadcast_Day  21 non-null     object
 15  Producers      21 non-null     object
 16  Licensors      21 non-null     object
 17  Score          21 non-null     float64
 18  Rank           21 non-null     int64
 19  Synopsis       21 non-null     object
dtypes: float64(2), int64(7), object(11)
memory usage: 3.4+ KB

In [6]:
df.dtypes

Anime_ID           int64
Title             object
Genre             object
Episodes           int64
Type              object
Studio            object
Source            object
Rating           float64
Popularity         int64
Members            int64
Favorites          int64
Airing_Start      object
Airing_End        object
Duration           int64
Broadcast_Day     object
Producers         object
Licensors         object
Score            float64
Rank               int64
Synopsis          object
dtype: object

In [7]:
df["Airing_End"]=pd.to_datetime(df["Airing_End"], format="%Y-%m-%d")
df["Airing_Start"]=pd.to_datetime(df["Airing_End"], format="%Y-%m-%d")

In [8]:

list=["Rank","Score","Members","Popularity","Rating","Episodes"]

df[list] = df[list].astype("float")

# ou
#for i in list:
#   df[i]=pd.to_numeric(df[i]), muda para float ou int dependendo da entrada

In [9]:
df.dtypes

Anime_ID                  int64
Title                    object
Genre                    object
Episodes                float64
Type                     object
Studio                   object
Source                   object
Rating                  float64
Popularity              float64
Members                 float64
Favorites                 int64
Airing_Start     datetime64[ns]
Airing_End       datetime64[ns]
Duration                  int64
Broadcast_Day            object
Producers                object
Licensors                object
Score                   float64
Rank                    float64
Synopsis                 object
dtype: object

In [10]:
df.describe()

,Anime_ID,Episodes,Rating,Popularity,Members,Favorites,Airing_Start,Airing_End,Duration,Score,Rank
count,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21,21,21.000000,21.000000,21.000000
mean,11.000000,49.095238,7.020952,5425.047619,435797.476190,27160.761905,2027-10-11 22:51:25.714285824,2027-10-11 22:51:25.714285824,35.761905,7.447619,9126.428571
min,1.000000,2.000000,5.010000,26.000000,88032.000000,2719.000000,2025-06-17 00:00:00,2025-06-17 00:00:00,10.000000,5.080000,1217.000000
25%,6.000000,35.000000,6.250000,3144.000000,230890.000000,14561.000000,2026-08-23 00:00:00,2026-08-23 00:00:00,23.000000,6.230000,6616.000000
50%,11.000000,46.000000,6.670000,5484.000000,450384.000000,27632.000000,2027-11-26 00:00:00,2027-11-26 00:00:00,28.000000,7.180000,8890.000000
75%,16.000000,59.000000,7.830000,7256.000000,598114.000000,39747.000000,2028-12-25 00:00:00,2028-12-25 00:00:00,50.000000,8.790000,12337.000000
max,21.000000,98.000000,9.850000,9849.000000,871129.000000,47907.000000,2030-01-21 00:00:00,2030-01-21 00:00:00,59.000000,9.850000,18212.000000
std,6.204837,26.298108,1.305791,2852.600892,240992.857066,13968.031006,NaN,NaN,14.993014,1.547465,4965.776138

In [11]:
e=df["Rank"].idxmin()
e

6

In [13]:
df.iloc[20,:]

Anime_ID                                                        21
Title                                                  Indeed west
Genre                                              Comedy, Fantasy
Episodes                                                      35.0
Type                                                       Special
Studio                                                  Wit Studio
Source                                                        Game
Rating                                                        6.26
Popularity                                                  7256.0
Members                                                    88032.0
Favorites                                                    40947
Airing_Start                                   2025-06-17 00:00:00
Airing_End                                     2025-06-17 00:00:00
Duration                                                        28
Broadcast_Day                                               Friday
Producers                                                 Kadokawa
Licensors                                                Viz Media
Score                                                         5.83
Rank                                                        8781.0
Synopsis         Soldier during teach ball. Argue boy effect tr...
Name: 20, dtype: object

In [14]:
a=df["Rating"].idxmax()
a

6

In [15]:
df.iloc[6,:]

Anime_ID                                                         7
Title                                          Now floor hair free
Genre                                            Sci-Fi, Adventure
Episodes                                                      45.0
Type                                                           ONA
Studio                                                   J.C.Staff
Source                                                        Game
Rating                                                        9.85
Popularity                                                  1086.0
Members                                                   427479.0
Favorites                                                    34746
Airing_Start                                   2027-01-24 00:00:00
Airing_End                                     2027-01-24 00:00:00
Duration                                                        26
Broadcast_Day                                            Wednesday
Producers                                   Bandai Namco, Kadokawa
Licensors                                              Crunchyroll
Score                                                         9.85
Rank                                                        1217.0
Synopsis         Fish use attack. Hear section yet if sort happ...
Name: 6, dtype: object

In [ ]:
df.columns

In [ ]:
df.to_csv("anime_20linhas.csv",index=False)

In [ ]:
coluna=df["Producers"]
type(coluna)

In [ ]:
coluna