In [1]:
import pandas as pd
import sqlite3

In [ ]:
# Conectar a SQLite

con=sqlite3.connect("PESCA.db")

In [ ]:
# Criar objeto da BD para fazer operações

cursor_obj=con.cursor()

In [ ]:
# cursor_obj.execute("Create table peixes (id int not null, quant_peixes int, tipo_peixe varchar(30),preço_kg decimal)")

In [ ]:
# cursor_obj.execute("Insert into peixes VALUES(001,6,'Carpa',12.5),(002,7,'Carpa',12.5),(003,3,'Caranguejo',15.20),(003,2,'Polvo',25)")

In [ ]:
# fetchall / fetchmany / fetchone, operação select fica guardada no objeto "cursor_obj", para obter output precisa fazer "fetch"

cursor_obj.execute("SELECT * FROM PEIXES")
for linha_tabela in cursor_obj.fetchall(): 
    print(linha_tabela)

In [ ]:
# cursor_obj.execute("update peixes set preço_kg=35 where tipo_peixe='Caranguejo'")
# cursor_obj.execute("ALTER TABLE peixes rename column quant_peixes to kg_peixe;")


cursor_obj.execute("select tipo_peixe, preço_kg from peixes")
output=cursor_obj.fetchall()
for linha in output:
    print(linha)

In [ ]:
# Podemos retornar dados em formato DataFrame diretamente

df= pd.read_sql_query("select * from peixes",con)
df

In [ ]:
df["Lucro"]=df["kg_peixe"]*df["preço_kg"]
df

In [ ]:
# Posso retornar apenas alguma informação para o DataFrame

df2=pd.read_sql_query("select * from peixes where tipo_peixe='Carpa'", con) 
df2

In [ ]:
df.shape

In [ ]:
con.commit() # Salvar alteraçoes na BD
con.close() # Fecha a ligação com a BD