In [2]:
import pandas as pd
import sqlite3
import prettytable

prettytable.DEFAULT= 'DEFAULT'

In [3]:
dataset_census=pd.read_csv("ChicagoCensusData.csv")
dataset_crimes=pd.read_csv("ChicagoCrimeData.csv")
dataset_schools=pd.read_csv("ChicagoPublicSchools.csv")

In [4]:
con=sqlite3.connect("FinalDB.db")

In [5]:
#dataset_census.to_sql("ChicagoCensusData",con,index=False)
#dataset_crimes.to_sql("ChicagoCrimeData",con,index=False)
#dataset_schools.to_sql("ChicagoPublicSchools",con,index=False)

In [6]:
%reload_ext sql
%sql sqlite:///FinalDB.db

In [7]:
%sql SELECT * from ChicagoCrimeData LIMIT 5

 * sqlite:///FinalDB.db
Done.

[(3512276, 'HK587712', '2004-08-28', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 0, 0, 911, 9, 14.0, 58.0, '6', 1155838.0, 1873050.0, 2004, 41.8074405, -87.70395585, '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', '2004-06-26', '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 0, 0, 1112, 11, 27.0, 23.0, '6', 1152206.0, 1906127.0, 2004, 41.89827996, -87.71640551, '(41.898279962, -87.716405505)'),
 (8002131, 'HT233595', '2011-04-04', '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 0, 0, 221, 2, 3.0, 38.0, '6', 1177436.0, 1876313.0, 2011, 41.81593313, -87.62464213, '(41.815933131, -87.624642127)'),
 (7903289, 'HT133522', '2010-12-30', '083XX S KINGSTON AVE', '840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 0, 0, 423, 4, 7.0, 46.0, '6', 1194622.0, 1850125.0, 2010, 41.74366532, -87.56246276, '(41.743665322, -87.562462756)'),
 (10402076, 'HZ138551', '2016-02-02', '033XX W 66TH ST', '820', 'THEFT', '$500 AND UNDER', 'ALLEY', 0, 0, 831, 8, 15.0, 66.0, '6', 1155240.0, 1860661.0, 2016, 41.7734553, -87.70648047, '(41.773455295, -87.706480471)')]

In [8]:
%sql select COMMUNITY_AREA_NAME from ChicagoCensusData ccen where ccen.COMMUNITY_AREA_NUMBER=(select COMMUNITY_AREA_NUMBER from ChicagoCrimeData group by COMMUNITY_AREA_NUMBER order by COUNT(COMMUNITY_AREA_NUMBER) DESC limit 1);

 * sqlite:///FinalDB.db
Done.

[('Austin',)]

In [9]:
# df=pd.read_sql("SELECT ID,PRIMARY_TYPE,ARREST,COMMUNITY_AREA_NUMBER FROM ChicagoCrimeData ",con)

In [10]:
# df.to_sql("View_CCD",con)

In [11]:
%sql SELECT COUNT(*)  AS CRIMES, COUNT(CASE WHEN ARREST!=0 THEN 1 END) AS ARRESTS FROM VIEW_CCD

 * sqlite:///FinalDB.db
Done.

[(533, 163)]