In [2]:
import pandas as pd
import numpy as np
import sqlite3
import prettytable

prettytable.DEFAULT= "DEFAULT"

In [3]:
df=pd.read_csv("Dry_Eye_Dataset.csv")
#df.head()

In [4]:
df.columns

Index(['Gender', 'Age', 'Sleep duration', 'Sleep quality', 'Stress level',
       'Blood pressure', 'Heart rate', 'Daily steps', 'Physical activity',
       'Height', 'Weight', 'Sleep disorder', 'Wake up during night',
       'Feel sleepy during day', 'Caffeine consumption', 'Alcohol consumption',
       'Smoking', 'Medical issue', 'Ongoing medication',
       'Smart device before bed', 'Average screen time', 'Blue-light filter',
       'Discomfort Eye-strain', 'Redness in eye',
       'Itchiness/Irritation in eye', 'Dry Eye Disease'],
      dtype='object')

In [6]:
df2=df[["Smoking","Discomfort Eye-strain","Dry Eye Disease"]]

In [10]:
dfgroup=df2.groupby(["Smoking","Discomfort Eye-strain","Dry Eye Disease"],as_index=False).value_counts()
dfgroup

  Smoking Discomfort Eye-strain Dry Eye Disease  count
0       N                     N               N   1978
1       N                     N               Y   3006
2       N                     Y               N   1485
3       N                     Y               Y   3548
4       Y                     N               N   2014
5       Y                     N               Y   2965
6       Y                     Y               N   1486
7       Y                     Y               Y   3518

In [ ]:
con=sqlite3.connect("DryEye.sql")
#df.to_sql("DryEye",con)

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
%load_ext sql
%sql sqlite:///DryEye.sql

In [ ]:
df=%sql SELECT [Sleep duration],[Caffeine consumption],[Dry Eye Disease] FROM DRYEYE

In [ ]:
df=pd.DataFrame(df)
df.head()

In [ ]:
df1=pd.get_dummies(df["Caffeine consumption"]).astype(int)
df2=pd.get_dummies(df["Dry Eye Disease"]).astype(int)

In [ ]:
df1=df1.rename(columns={"N":"No_Caffeine","Y":"Yes_Caffeine"})
df2=df2.rename(columns={"N":"No_Desease","Y":"Yes_Desease"})

In [ ]:
df=pd.concat([df,df1,df2],axis=1)
df=df.drop(columns={"Caffeine consumption"})

In [ ]:
df.head()

In [ ]:
df.value_counts("Yes_Desease")

In [ ]:
#df.to_sql("Caffeine_Desease",con)

In [ ]:
%sql Select (select count(*) from Caffeine_Desease where Yes_Caffeine=1 AND Yes_Desease=1) as desease_y_coffe , (select count(*)  from Caffeine_Desease where No_Caffeine=1 AND Yes_Desease=1) as desease_n_coffe